{% extends "ride/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<br>
<table border="1">
    <div class ="table">
    <thead>
    {%  if object_list.count == 0 %}
    <br>
      <h3>Sorry, there is currently no confirmed order.</h3>

    {% else %}
    <h2>The following are the order lists.</h2>
        <tr>
            <th>Status</th>
            <th>Owner</th>
            <th>Destination</th>
            <th>Arrival Time</th>
            <th>Passenger Number</th>
            <th>Share?</th>
            <th>Seats Left</th>
            <th>Special Request</th>
            <th>Sharer Name</th>
            <th>Sharer Number</th>
            <th>Vehicle Type</th>
            <th>Driver Name</th>
        </tr>
    </thead>

    <tbody>

            {% for ride in object_list %}
            <tr>
            <td>{{ ride.status }}</td>
            <td>{{ ride.owner.username }}</td>
            <td>{{ ride.destination_address }}</td>
            <td>{{ ride.arrival_time|date:"m/d/Y P" }}</td>
            <td>{{ ride.passenger_number }}</td>
            <td>{{ ride.shared }}</td>
            <td>{{ ride.seats_left }}</td>
            <td>{{ ride.special_request }}</td>
            <td>{{ ride.share_name }}</td>
            <td>{{ ride.share_num }}</td>
            <td>{{ ride.vehicle_type }}</td>
            <td>{{ ride.driver_name }}</td>

            </tr>
            {% endfor %}
      {% endif %}
    </tbody>
        </div>

</table>
<br>
<button onclick="window.location.href='{% url 'ride-home' %}'">Return</button>
<br>
<br>
</body>
</html>
{% endblock content %}