{% extends "ride/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>start a ride</title>
</head>
<body>

<h2>Start a Ride</h2>

<form action = ""  method="POST">
    {% csrf_token %}
     {{ form.as_p }}

    <br>
    <input type="submit" name="submit" value="Submit">
</form>

</body>
</html>

{% endblock content %}

