{% extends "ride/base.html" %}
{% block content %}
<h1>Bon Voyage!</h1>
<br>
<div class ="table">
</div>
<body>
<div class="owner_box">
<p>
  <h2>Driver</h2>
  <br>
  <ul>
    <h4><li><a href="{% url 'driver-search-ride' %}">Show all the open rides</a></li></h4>
    <h4><li><a href="{% url 'driver-complete-ride' %}">view to be completed orders</a></li></h4>
    <h4><li><a href="{% url 'driver-view-ride' %}">view past orders</a></li></h4>
    <br>

  </ul>
</p>
</div>

<div class="ending">
  <p>
    <h4>Hope you have a nice ride :)</h4>
  </p>

</div>


</body>

{% endblock content %}