<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Sorry, this operation couldn't be executed.</h1>

<button><a href="{% url 'ride-home' %}">Return</a></button>

</body>
</html>