{% extends "ride/base.html" %}
{% block content %}
<h1>Welcome </h1>
<div class="newclass"><h1>And</h1></div>
 <h1> Enjoy  Your   Ride</h1>
<br>
<br>
<h2>Please make your selection</h2>
<body>

<div class="owner_box">
<p>
  <h3>Rider Owner</h3>
  <ul>
      {% if user.is_authenticated %}
    <li><a href="{% url 'rideowner-create' %}">Start a ride</a></li>
    <li><a href="{% url 'owner-list' %}">view open orders</a></li>
    <li><a href="{% url 'owner-con-list' %}">view confirmed orders</a></li>
      {% else %}
          <li><a href="{% url 'login' %}">Start a ride</a></li>
          <li><a href="{% url 'login' %}">view open orders</a></li>
          <li><a href="{% url 'login' %}">view confirmed orders</a></li>
      {% endif %}
  </ul>
</p>
</div>

<div class="owner_box">
<p>
  <h3>Rider Sharer</h3>
  <ul>
      {% if user.is_authenticated %}
    <li><a href="{% url 'search_ride' %}">Search for a ride</a></li>
    <li><a href="{% url 'sharer-list' %}">view shared orders</a></li>
    <li><a href="{% url 'sharer-con-list' %}">view confirmed orders</a></li>
      {% else %}
       <li><a href="{% url 'login' %}">Search for a ride</a></li>
       <li><a href="{% url 'login' %}">view shared orders</a></li>
       <li><a href="{% url 'login' %}">view confirmed orders</a></li>
      {% endif %}
  </ul>
</p>
</div>

<div class="owner_box">
<p>
  <h3>Driver</h3>
  <ul>
      {% if user.is_authenticated %}
    <li><a href="{% url 'driver-page' %}">Driver page</a></li>
    <li><a href="{% url 'driver_update' %}">Update information</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Driver page</a></li>
      <li><a href="{% url 'login' %}">Update information</a></li>
      {% endif %}
  </ul>
</p>
</div>

<div class="ending">
  <p>
    <h4>Hope you have a nice day :)</h4>
  </p>

</div>


</body>

{% endblock content %}