{% extends 'ride/base.html' %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom md-4">Modify your request</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button  type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}