{% extends "ride/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<h1>Enter infor to find available rides</h1>
<body>
<form action="/search_ride/" method="post">
  {% csrf_token %}
  {{ form|crispy }}
    <br>
  <button class="btn btn-outline-info" type="submit"> Search </button>
</form>

</body>
{% if ride_exist %}
     {% if search_rides %}
        <h1>Available Rides</h1>
        {% for ride in search_rides %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <p class="mr-2">Ride No.{{ride.id}} Ride Owner: <strong>{{ ride.owner }}</strong></p>
                </div>
                    <p>Destination Address: <strong>{{ ride.destination_address }}</strong> </p>
                    <p>Arrival Time: {{ ride.arrival_time }}</p>
                    <p>Seats Left{{ ride.seats_left }}</p>
                    <p>Vehicle Type: {{ ride.vehicle_type }} </p>
                    <p>Status: {{ ride.status }}</p>
                </div>
                <div>
                    <form action="/join_ride/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="ride_detail_id" value={{ride.id}}>
                        <input type="hidden" name="size" value={{size}}>
                        <button class="btn btn-outline-info" type="submit"> Join This Ride</button>
                    </form>
                </div>
            </article>
        {% endfor %}
     {% else  %}
         <p>No available ride</p>
     {% endif %}
{% endif %}
{% endblock %}