<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Your operation is executed successfully!</h1>

<button><a href="{% url 'ride-home' %}">Return to Home Page</a></button>

</body>
</html>