{% extends 'ride/base.html' %}
{% block content %}

{%  if object_list.count == 0 %}
    <br>
      <h3>Sorry, there is currently no order.</h3>

    {% else %}


<p>
   <h3> Here is all the complete orders!</h3>
</p>
<br>

<table border="1">
    <thead>
        <tr>
             <th>Status</th>
            <th>Owner Name</th>
            <th>Destination Address</th>
            <th>Arrival Time</th>
            <th>Owner Passenger Number</th>
            <th>Shared</th>
            <th>Vehicle Type</th>
            <th>Special Request</th>
            <th>Sharer</th>
            <th>Sharer Passenger Number</th>
        </tr>
    </thead>

    <tbody>
        {% for ride in object_list %}
        <tr>
            <!-- td表示每一行里面的元素 -->
            <td>{{ ride.status }}</td>
            <td>{{ ride.owner.username }}</td>
            <td>{{ ride.destination_address }}</td>
            <td>{{ ride.arrival_time|date:"m/d/Y P" }}</td>
            <td>{{ ride.passenger_number }}</td>
            <td>{{ ride.shared }}</td>
            <td>{{ ride.vehicle_type }}</td>
            <td>{{ ride.special_request }}</td>
            <td>{{ ride.share_name }}</td>
            <td>{{ ride.share_num }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
      <br>

      {% endif %}
     <button onclick="window.location.href='{% url 'driver_page' %}'">Return</button>

<br>

<br>
{% endblock content %}
