{% extends "ride/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form method="POST">
              {% csrf_token %}
                <fieldset class = "form-group">
                        <legend class = "border-bottom mb-4">Driver Information</legend>
                        {{user_form.as_p }}
                        {{driver_form.as_p }}
                </fieldset>
		
                <div class = "form_group">
                        <button class = "btn btn-outline-info" type = "submit">Update</button>
                </div>
        </form>


    </div>
{% endblock content %}