body {
  background: #fafcfc;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family:  "Times New Roman", Times, serif;
  color: #444444;
}


h1 {font-size:50px;
    color:#444444
}
h2 {font-size:40px;
   font-style:italic;}
p {font-size:18px;}

h1 {text-align:center;}
/*
ul {
  margin: 0;
}
*/

table, td, th{
    border: 1px solid black;
  background-color:#afdcf0;
}

th{
    background-color:#afdcf0;
    color: #444444;
}

td{
    padding:15px;
    text-align:right;
}

p.main{
    text-align: justify;
}

.bg-steel {
  background-color: #8bb4cc;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand mr-4{
  color: #ffffff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.expa{color:#000000}

.owner_box{
  width: 97%;
  border:1px #ccc dotted;
  border-radius:15px;
  padding: 20px;
  margin:20px 0;
  background-color:#e6f4fa;
}

.newclass h1{
   font-style:italic;
  font-size:40px;
}

.owner_box h3{
  font-family:  "Times New Roman", Times, serif;
}

.ending{
  font-style:italic;
}

.table h4{
  font-style:italic;
}

.div h3{
  text-align:center;
}